.delete-btn{
    background: rgb(233, 82, 82);
    color:#fff;
    border: 0;
    padding:4px 10px;
    border-radius: 3px;
}
.table-container{
 left:20vw;
 top:20vh;

 position: absolute;
 width: 90%;
}
#table{
    overflow-x: scroll;
}
th{
    background-color: rgb(53, 146, 203);
    color:white;
}
tbody{
    border:1px solid rgb(53, 146, 203);
}
tr:hover{
    font-weight: bold;
}
.edit{
    background-color: #199319;
  color: white;
  padding: 5px 8px;
  text-decoration: none;
}
.delete{
    text-align: center;
}
.search{
    width:fit-content;
    margin-left: 30vw;
    margin-top: 2vh;
}
.search input{
    height: 26px;
    top:60px;
    position:absolute;
    left:20%;
    
}
#label{
    background-color:rgb(53, 146, 203) ;
    color: white;
    padding: 5px;
    position: absolute;
    top:60px;
    left:32%;
}